h1{
    text-shadow: +15px -15px 5px purple;
}
#p1{
    margin-left: 10px;
    box-shadow: 0px 0px 15px red;
    width: 75%;
}
#p2{
    margin-left: 40px;
    box-shadow: -20px +15px 5px lightgreen;
    width: 75%
}